@model DAO.Entities.Produto

@{
    ViewBag.Title = "Adicionar Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> categorias = new List<SelectListItem>() { 
        new SelectListItem { Text = "Bebidas", Value = "Bebidas" },
        new SelectListItem { Text = "Farmácia", Value = "Farmácia" },
        new SelectListItem { Text = "Laticínios", Value = "Laticínios" },
        new SelectListItem { Text = "Limpeza", Value = "Limpeza" },
        new SelectListItem { Text = "Padaria", Value = "Padaria" }
    };

}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">

    @using (Html.BeginForm("Save", "Produto", FormMethod.Post))
    {
        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.Nome)
                @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Categoria)
                @Html.DropDownListFor(model => model.Categoria, categorias, "Selecione...", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Preco) <b>R$</b>
                @Html.TextBoxFor(model => model.Preco, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Preco, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Salvar</button>
                @Html.ActionLink("Voltar", "Index", new { } , new { @class = "btn btn-default" })
            </div>
        </div>
    }

</div>
